.logo{
    padding-left: 110px;
    height: 0;
}

.Search{
    padding: 3% 40%;
    height: 0;
    position: absolute;
}

.main-nav{
  padding-left: 78%;
 padding-top: 3%;

}

.nav-link active:hover{
    color: blueviolet;
}